body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.address-head {
  font-style: normal;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-text {
  color: #2e2f42;
}
.link-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.link-header:focus,
.link-header:hover {
  color: #404bbf;
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.address-link:focus,
.address-link:hover {
  color: #404bbf;
}
.biz {
  background-color: #2e2f42;
}
.biz-h1 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  color: #ffffff;
}

.button-biz {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: #5c6bc0;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.button-biz:focus,
.button-biz:hover {
  background-color: #404bbf;
}
.h2-base {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.h2-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.h3-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.h3-base {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.h2_team {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
}

.p-base {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
}
.team-link {
  background-color: #fff;
}
.footer {
  background-color: #2e2f42;
}
.logo-footer {
  font-family: "Roboto", sans-serif;
}

.logo-footer-span {
  color: #f4f4fd;
}
.p-footer {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
}
